<a href="https://colab.research.google.com/github/iRaez/applied_datascience_capstone/blob/main/capstone_mod3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Applied Data Science Capstone Project


---



## Module 3 Assignment

<h2><b>Setup</b></h2>
<h3>Import Libraries</h3>

In [1]:
import pandas as pd

<h3><b>Load Data</b></h3>

In [35]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, header = 0)
df

[    Postal Code  ...                                      Neighbourhood
 0           M1A  ...                                       Not assigned
 1           M2A  ...                                       Not assigned
 2           M3A  ...                                          Parkwoods
 3           M4A  ...                                   Victoria Village
 4           M5A  ...                          Regent Park, Harbourfront
 ..          ...  ...                                                ...
 175         M5Z  ...                                       Not assigned
 176         M6Z  ...                                       Not assigned
 177         M7Z  ...                                       Not assigned
 178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
 179         M9Z  ...                                       Not assigned

 [180 rows x 3 columns],
                                           Unnamed: 0  ... Unnamed: 17
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...         NaN
 1                                                 NL  ...          YT
 2                                                  A  ...           Y

 [3 rows x 18 columns],
   NL NS PE NB QC QC.1 QC.2 ON ON.1 ON.2 ON.3 ON.4 MB SK AB BC NU/NT YT
 0  A  B  C  E  G    H    J  K    L    M    N    P  R  S  T  V     X  Y]

Check the dataframe to see how many tables there are in the webpage:

In [36]:
len(df)

3

Based on the website, table 1 is the table we are looking for.

In [17]:
df[0]

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

Assign this into a new dataframe and let's call it `dfcan`.

In [45]:
dfcan = df[0].assign()

In [51]:
df[0].shape

(180, 3)

In [52]:
dfcan.shape

(103, 3)

## Data Cleaning

Assignment requirements:


*   The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

*   Only process the cells that have an assigned borough. Ignore cells with a borough that is **Not assigned**.

*   More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that **M5A** is listed twice and has two neighborhoods: **Harbourfront** and **Regent Park**. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in **row 11**  in the above table.

*   If a cell has a borough but a **Not assigned**  neighborhood, then the neighborhood will be the same as the borough.

In [48]:
# making boolean series for borough 
filter1 = dfcan["Borough"]!="Not assigned"

# making boolean series for neighbourhood 
filter2 = dfcan["Neighbourhood"]!="Not assigned"

# filtering data on basis of both filters 
dfcan.where(filter1 & filter2, inplace = True) 

# display 
dfcan.head()

  Postal Code           Borough              Neighbourhood
0         NaN               NaN                        NaN
1         NaN               NaN                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

The `dataframe.where()` method filters the dataframe according to the defined conditions and replaces all values with `NaN` if it doesn't meet the conditions. So next what we will do is use the `.dropna()` method to remove all missing values.

More information from the pandas documentation can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)

In [49]:
# First check how many none NaN values exist
dfcan.count(0)

Postal Code      103
Borough          103
Neighbourhood    103
dtype: int64

In [72]:
# Next we will drop all rows where all values are NaN
dfcan.dropna(axis=0, how='all', inplace=True)
dfcan

    Postal Code  ...                                      Neighbourhood
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
5           M6A  ...                   Lawrence Manor, Lawrence Heights
6           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
160         M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165         M4Y  ...                               Church and Wellesley
168         M7Y  ...  Business reply mail Processing Centre, South C...
169         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

# Last cell for notebook below

In [74]:
dfcan.shape

(103, 3)